a{
    color:orange;
    font-weight: bold;

}
a:visited{
    color:rgb(1, 74, 2);

}

#callme{
    text-align:center;
}

  #contact-title{
    font-size: 60px;
    font-family: keys;

  }

  #emailme{
    font-size:23px;
  }

  .emailbtn {
    justify-content:center;
    letter-spacing: 1px;
    width:5vw;
    height:3vw;
    margin: 0px;
    padding: 0px;
    border: none;
    cursor: pointer;
    background-color:  rgb(245, 240, 231);
    color:  rgb(3, 3, 3);
  }

