a{
    color:orange;
    font-weight: bold;

}
a:visited{
    color:rgb(1, 74, 2);

}

body{
    background-color: rgb(245, 240, 231);
  }

.about{
    align-items: left;
    text-align: left;
  }
  
  #projects-title{
    font-size: 80px;
    font-family: keys;

  }
